---
layout: default
---

<div class="home">

  <h1 class="page-heading">OS EURECOM 2018 project</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        

        <h2>
          <a>{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe"> Our goal is to build and program a robot to participate to a basketball competition. <a href="{{ "/feed.xml" | prepend: site.baseurl }}"> </a></p>

</div>
